<?xml version="1.0" encoding="UTF-8"?>

<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.4/phpunit.xsd"
	backupGlobals="false"
	backupStaticAttributes="false"
	colors="true"
	bootstrap="vendor/autoload.php"
	strict="true"
	verbose="true"
	>
	<testsuites>
		<testsuite name="Gonzalez Test Suite">
			<directory>src/Gonzalez/Tests</directory>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">src/Gonzalez</directory>
			<exclude>
				<directory>src/Gonzalez/Tests</directory>
				<directory>./vendor</directory>
			</exclude>
		</whitelist>
	</filter>
</phpunit>
